<header>
    <!-- up menu -->
    <button mat-button color="primary" [routerLink]="'/home'"><mat-icon>home</mat-icon></button>
    <button mat-button id="nous" color="primary">A PROPOS DE NOUS</button>
    <button mat-button color="primary">LES PROPRIOTERES</button>
    <button mat-button color="primary">LES BIENS EN ECHANGE</button>
    <button mat-button color="primary">CONTACTEZ-NOUS</button>
    <button mat-button color="warn" [routerLink]="'/inscription'"><mat-icon>account_box</mat-icon></button>
</header>
